<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/uploads/favicon-32x32.png" type="image/x-icon">
  <title>Instagram</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="main">
    <div id="left">
      <img src="https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones-2x.png?__makehaste_cache_breaker=73SVAexZgBW" alt="">
      <div id="phone-image"></div>
    </div>
    <div id="right">
    <div class="container">
      <div class="box">
        <div class="heading"></div>
        <form method="post" action="/login" class="login-form">
          <div class="field">
            <input
              id="username"
              type="name"
              placeholder="Enter your username"
              name="username"
            />
            <label for="username">Enter your username</label>
          </div>
          <div class="field">
            <input name="password" id="password" type="password" placeholder="password" />
            <label for="password">Password</label>
          </div>
						<button class="login-button" title="login">Log In</button>
						<div class="separator">
							<div class="line"></div>
							<p>OR</p>
							<div class="line"></div>
						</div>
          <div class="other">
            <a href="/login/federated/facebook"><button class="fb-login-btn" type="button">
              <i class="ri-facebook-box-fill"></i>
              <span class="">Log in with Facebook</span>
            </button></a>
            <a class="forgot-password" href="/forgot">Forgot password?</a>
          </div>
        </form>
      </div>
      <div class="box">
        <p>Don't have an account? <a class="signup" href="/signup">Sign Up</a></p>
      </div>
    </div>
    <div style="text-align: center;" id="get">Get the app.</div>
    <div id="download">
      <a href="https://play.google.com/store/apps/details?id=com.instagram.android"><img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt=""></a>
      <a href="ms-windows-store://pdp/?productid=9nblggh5l9xt&referrer=appbadge&source=www.instagram.com&mode=mini&pos=0%2C0%2C1920%2C1008"><img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt=""></a>
    </div>
    </div>
  </div>
  
  <script>
    
  </script>
</body>
</html>